{{#with data}}
  <div class='card_featured'>
    <div
      class='featured_photo'
      style='background-image: url({{photo}})'
    ></div>
    <h2 class='featured_heading'>{{heading}}</h2>
    <p class='featured_info'>{{info}}</p>
    <a
      class='featured_link'
      href='{{linkUrl}}'
    >{{linkText}}</a>
  </div>
{{/with}}